<div class="container">
    <h2>Tab B</h2>
    <div class="col-lg-12 col-mg-12 col-sm-12" style="text-align: right; padding:0; margin:15px 0;">
        <button (click)="removeCacheTag('tab-b')" class="btn btn-warning">Clear Cache</button>
    </div>
    <div class="col-mg-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
                <th></th>
                <th *ngFor="let colNumber of colHead">{{colNumber}}</th>
            </tr>
          </thead>
          <tr *ngFor="let row of randomInt; let i = index">
              <td>{{i+1}}</td>
              <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </table>
      </div>
</div>