<div class="container">
    <h2>Tab A</h2>
    <div class="col-mg-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
                <th></th>
                <th *ngFor="let colNumber of colHead">{{colNumber}}</th>
            </tr>
          </thead>
          <tr *ngFor="let row of randomInt; let i = index">
              <td>{{i+1}}</td>
              <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </table>
      </div>
</div>
