<div class="container">
    <h2>Tab C</h2>
    <div class="col-mg-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>User Id</th>
              <th>Id</th>
              <th>Title</th>
            </tr>
          </thead>
          <tr *ngFor="let trData of jsonData">
			<td>{{trData.userId}}</td>
            <td>{{trData.id}}</td>
            <td>{{trData.title}}</td>
          </tr>
        </table>
      </div>
</div>