<div class="container">
    <h2>Home</h2>
    <div *ngIf="jsonData?.length > 0">
      <div class="col-lg-12 col-mg-12 col-sm-12" style="text-align: right; padding:0; margin:15px 0;">
          <button (click)="removeCacheTag('home_page')" class="btn btn-warning">Clear Cache</button>
      </div>
        
        <div class="col-mg-12">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>No.</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tr *ngFor="let trData of jsonData">
              <td>{{trData.id}}</td>
              <td>{{trData.first_name}}</td>
              <td>{{trData.last_name}}</td>
              <td>{{trData.email}}</td>
              <td>{{trData.gender}}</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div *ngIf="jsonData?.length == 0">
          <div class="col-lg-12 col-mg-12 col-sm-12" style="text-align:center;">
            <h1>{{title1}}</h1>
          </div>
      </div>
</div>

