<div class="container">
    <h2>Tab D</h2>
    <div class="col-mg-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>No.</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tr *ngFor="let trData of jsonData">
            <td>{{trData.id}}</td>
            <td>{{trData.first_name}}</td>
            <td>{{trData.last_name}}</td>
            <td>{{trData.email}}</td>
            <td>{{trData.gender}}</td>
          </tr>
        </table>
      </div>
</div>

